fastapi
uvicorn[standard]
python-multipart # для загрузки файлов
pydantic
SQLAlchemy
asyncpg # async драйвер Postgres
alembic
python-dotenv
boto3 # для работы с MinIO/S3
passlib[bcrypt] # хеширование паролей
python-jose[cryptography] # JWT
# httpx # async HTTP client.
celery[redis] # или без [redis], если используем только RabbitMQ
tesserocr # OCR (Tesseract) для Python
Pillow # для обработки изображений
pre-commit # для автоматической проверки кода